@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f9fb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

body::-webkit-scrollbar-track {
  transition: 200ms;
  background: #dfe1e2;
}

body::-webkit-scrollbar-thumb {
  transition: 200ms;
  background: #31708e90;
}

body::-webkit-scrollbar-thumb:hover {
  background: #285c7495;
  transition: 200ms;
}

::-moz-selection {
  background-color: #222831;
  color: white;
}

::selection {
  background-color: #222831;
  color: white;
}
