.add-answer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 95%;
  margin: 0 20px;
  .title-container {
    margin-top: 30px;
    background-color: #5085a5;
    border-radius: 10px;
    transition: 200ms;
    color: #ffffff;
    padding: 15px 20px;
    box-shadow: 0 2px 4px 0 #58585860;
    p:nth-child(1) {
      font-size: 20px;
      margin-bottom: 10px;
      letter-spacing: 0.1em;
      font-weight: 600;
    }
    p:nth-child(2) {
      font-size: 15px;
      letter-spacing: 0.1em;
      font-weight: 500;
    }
  }
  form {
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    textarea {
      width: 100%;
      border-radius: 8px;
      outline: none;
      resize: none;
      overflow: auto;
      padding: 11px;
      border: 1px solid #7e7e7e50;
      box-shadow: 0 2px 4px 0 #58585860;
      transition: 200ms;
    }
    textarea:focus {
      border: 2px solid #7e7e7e;
      transition: 200ms;
    }
    textarea[type="text"] {
      font-family: "Roboto";
    }
    .space {
      justify-content: space-between;
    }
    .no-space {
      justify-content: center;
    }
    .answer-container {
      margin: 0 10px;
      border: 2px solid #7e7e7e;
      border-radius: 10px;
      padding: 10px 20px;
      p {
        font-weight: 600;
      }
    }
    .buttons {
      display: flex;
      width: 200px;
    }
    button {
      cursor: pointer;
      margin-top: 20px;
      border: none;
      border: 1px solid #474747b6;
      border-radius: 8px;
      padding: 5px 15px;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 1px;
    }
    .answer {
      background-color: #98e956;
      transition: 200ms;
      color: #ffffff;
      box-shadow: 0 2px 4px 0 #58585860;
    }
    .answer:focus {
      color: #ffffff;
      background-color: #73ff00;
      transition: 200ms;
    }
    .answer:hover {
      color: #ffffff;
      background-color: #73ff00;
      transition: 200ms;
    }
    .cancel {
      background-color: #fa7777;
      transition: 200ms;
      color: #ffffff;
      box-shadow: 0 2px 4px 0 #58585860;
    }
    .cancel:focus {
      color: #ffffff;
      background-color: #ff4e4e;
      transition: 200ms;
    }
    .cancel:hover {
      color: #ffffff;
      background-color: #ff4e4e;
      transition: 200ms;
    }
  }
  .loading-container {
    border: 2px solid #7e7e7e;
    border-radius: 10px;
    padding: 10px 20px;
    p {
      font-weight: 600;
    }
  }
}

.loading-modal {
  background-color: #ffffff;
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vw;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
}
