.search-container {
    .search-results {
        position: absolute;
        background-color: #386683;
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: 500;
        padding: 5px 10px;
    }
}
