.main-page {
  display: flex;
  flex-direction: column;
  .content {
    margin: 0 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 718px) {
  .content {
    margin: 0 20px !important;
  }
  .add-question {
    p {
      display: none;
    }
  }
}

@media only screen and (max-width: 281px) {
  textarea[type="text"] {
    font-size: 10px !important;
  }
}