.question-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 95%;
  margin: 0 20px;
  .title-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;;
    background-color: #222831;
    color: #ffffff;
    padding: 10px;
    padding-left: 14px;
    p {
      font-size: 18px;
      letter-spacing: 0.3em;
      font-weight: 500;
    }
  }
  .space {
    justify-content: space-between;
  }
  .no-space {
    justify-content: center;
  }
  .buttons {
    display: flex;
    width: 200px;
  }
  button {
    cursor: pointer;
    margin-top: 20px;
    border: none;
    background-color: #ffffff;
    border: 2px solid #505050;
    border-radius: 8px;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .cancel {
    background-color: #ff00006c;
    transition: 200ms;
  }
  .cancel:focus {
    color: #ffffff;
    background-color: #ff0000;
    transition: 200ms;
  }
  .cancel:hover {
    color: #ffffff;
    background-color: #ff0000;
    transition: 200ms;
  }
  .loading-container {
    border: 2px solid #7e7e7e;
    border-radius: 10px;
    padding: 10px 20px;
    p {
      font-weight: 600;
    }
  }
}